@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

$font-primary: 'Montserrat', sans-serif;
$primary-color: #ff6060;
$secondary-color: #fff;
$bg-primary-color: #ff6060;
$bg-color-Home: #f7f7f7;
$bg-color-Accordeons: #f6f6f6;
$color-Rating: #e3e3e3;
$bg-color-Footer: #000;
