.divContainer {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;

  .img {
    width: 10%;
  }

  .link {
    text-decoration: none;
    color: #ff6060;
    padding: 10px;

    &:active {
      color: inherit;
    }
  }
}
