.divContainer {
  margin: 40px 100px 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .img {
    width: 10%;
  }
}
@media screen and (max-width: 768px) {
  .divContainer {
    margin: 20px !important;
    .img {
      min-width: 40%;
    }
    .link {
      font-size: 0.8em !important;
    }
  }
}
