@use '../../styles/theme';

.banner {
  position: relative;
  height: 200px;

  .divContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .img {
      position: relative;
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 20px;
    }
    .p {
      position: absolute;
      top: calc(50% - 25px);
      color: theme.$secondary-color;
      font-size: 200%;
      z-index: 2;
    }
  }
  .effectImg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;

    background-color: rgba(0, 0, 0, 0.6);
    opacity: 50%;
    z-index: 1;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    max-height: 111px;
    .img {
      max-height: 111px;
    }
    .p {
      margin-left: 10px;
      font-size: 1.5em !important;
    }
  }
}
