@use '../../styles/theme';

.ratingFull {
    color: theme.$primary-color;
    font-size: 1.5em;
    padding: 5px;
}
.ratingVoid {
    color: theme.$color-Rating;
    font-size: 1.5em;
    padding: 5px;
}