@use '../../styles/theme';

.titleAccordeon {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 10px 20px;

  color: theme.$secondary-color;
  background-color: theme.$primary-color;
  border-radius: 5px;
  cursor: pointer;
}

.content {
  padding: 20px 20px 20px 15px;
  color: theme.$primary-color;
  background-color: theme.$bg-color-Accordeons;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.array {
  margin: 0;
  list-style: none;
  padding: 20px 20px 20px 15px;
  color: theme.$primary-color;
  background-color: theme.$bg-color-Accordeons;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.flex {
  flex: 1;
}
