@use '../../styles/theme';

.container {
    display: flex;
    align-items: center;
    .span {
        display: flex;
        flex-direction: column;
        text-align: end;
        width: 100px;
        margin-right: 10px;

        color: theme.$primary-color;
        font-size: 1.2em;
    }
    
    .containerImg {
        width: 5em;
        clip-path: circle(45%);
        overflow: hidden;
        .img {
            width: 100%;
            object-fit: cover;
        }
    }
}